.name {
    padding-top: 1.25rem;
    
}
.logo {
    padding-top: 5px;

    height: 200;
    width: 200px;
    border-radius: 2px;
    border-color: black;
    

    
    overflow: hidden;

}
ion-tabs {
    display: contents;
}
