.name {
    padding-top: 1.25rem;
    
}
img {
    padding-top: 5px;

    height: 200px;
    width: 200px;
    
    border-color: black;
    
 
    -webkit-border-radius: 50%;
    border-radius: 50%;

}
ion-tabs {
    display: contents;
}
ion-grid {
    display: flex;
    justify-content: center;
}

.tab-selected{
    border-bottom: 2px solid var(--ion-color-primary);
}