<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Unternehmensprofil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onLogOut()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>
<ion-content>
<ion-tabs >
  <ion-tab-bar selectedTab="general"  slot="top" color="secondary">
    <ion-tab-button tab="profiltab/general">
      <ion-icon name="home"></ion-icon>
      <ion-label>Allgemein</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profiltab/contact">
      <ion-icon name="contact"></ion-icon>
      <ion-label>Ansprechpartner</ion-label>
    </ion-tab-button>      
    <ion-tab-button tab="profiltab/billing-adress">
      <ion-icon name="card"></ion-icon>
      <ion-label>Rechnungsadresse</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
</ion-content>