<ion-grid>
  <ion-row>
    <ion-col>
      <ion-title>Rechnungsadresse</ion-title>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-icon name="pin" slot="start">Start</ion-icon>
        <ion-label><b>{{billingAdress.companyName}}</b><br>
          {{billingAdress.street}} {{billingAdress.streetNumber}} {{billingAdress.streetAddition}}<br>
          {{billingAdress.postalcode}} {{billingAdress.town}}<br>
          {{billingAdress.country}}<br>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-icon name="document" slot="start">Information</ion-icon>
        <ion-text>
          {{billingAdress.note}}
        </ion-text>
      </ion-item>

      <ion-item lines="none">
        <ion-button id="3" name="Rechnungsadresse-Edit-Btn" fill="outline" (click)="onEdit()">
          Bearbeiten
        </ion-button>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>