<ion-header>
    <ion-toolbar color="primary">
        <ion-title>ITS.Connect Portal</ion-title>
      </ion-toolbar>    

</ion-header>
<ion-content>
    <div class="card-center">
  <ion-card >
    <img src="../../assets/testNeu.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Veranstaltung</ion-card-subtitle>
      <ion-card-title>ITS.Connect - Die Jobmesse für IT-Sicherheit</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Die Ruhr-Universität Bochum nimmt mit der Ausbildung von rund 1.000 Studierenden der IT-Sicherheit eine
      Spitzenstellung in diesem Fachgebiet in Europa ein.
      Bereits seit 2008 bietet die ITS.Connect den Studierenden der IT-Sicherheit oder artverwandter Fächer die
      Möglichkeit, in entspannter Atmosphäre mit zahlreichen Firmen der Branche in Kontakt zu treten. Ob der Einstieg
      ins Berufsleben, Abschlussarbeiten oder Praktika, die ITS.Connect ist in jedem Fall der richtige Schritt in eine
      erfolgreiche Zukunft! Wir freuen uns sehr, dass wir 2019 mehr als 60 verschiedene Firmen begrüßen durften.
      In 2019 besuchten rund 400 Absolvent/innen und Studierende der IT-Sicherheit und verwandter Fachrichtungen aus dem
      gesamten Bundesgebiet die ITS.Connect.
      <ion-item-divider></ion-item-divider>
      <ion-list text-wrap lines="none">
        <ion-item>
          <ion-icon name="calendar" slot="start"></ion-icon>
          <ion-label>05.05.2020</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label text-wrap>Veranstaltungszentrum der Ruhr-Universität Bochum</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="body" slot="start"></ion-icon>
          <ion-label text-wrap>Horst Görtz Institut für IT-Sicherheit, Bochum</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="globe" slot="start"></ion-icon>
          <ion-label text-wrap>
            <a target="_blank" href="https://hgi.rub.de/itsc2019/">Offizielle Webseite der ITS.Connect</a>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-button routerLink="sign-up" routerDirection="forward" fill="solid">Registrieren</ion-button>
      <ion-button routerLink="sign-in" routerDirection="forward" fill="clear">Anmelden
      </ion-button>
    </ion-card-content>
  </ion-card>
  </div>
</ion-content>