<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-button (click)="onCancel()" routerLink="/tabs/profil" routerDirection="back">
            <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
          </ion-button>
      </ion-buttons> 
  <ion-title>Allgmeine Informationen</ion-title>
</ion-toolbar>
</ion-header>
<ion-content>
  <div class="card-center">
<form [formGroup]="companyForm" (ngSubmit)="logForm()">
  <ion-grid>
    <!-- <ion-row>
      <ion-col>
        <ion-item lines="none">
          <ion-icon name="people" slot="start"></ion-icon>
          <ion-label>
            Allgemeine Informationen
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row> -->
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Firmenname</ion-label>
          <ion-input formControlName="companyName" type="text"></ion-input>
        </ion-item>
        <div *ngIf="!companyForm.controls.companyName.valid && companyForm.controls.companyName.touched" class="alert">
          <ion-icon color="danger" name="information-circle" slot="start"></ion-icon>
          <ion-text color="danger">Firmennamen eingeben!</ion-text>
        </div>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">Firmenhompage</ion-label>
          <ion-input formControlName="companyHomepage"></ion-input>
        </ion-item>

        <div *ngIf="!companyForm.controls.companyHomepage.valid && companyForm.controls.companyHomepage.touched"
          class="error-message">
          <ion-icon color="danger" name="information-circle" slot="start"></ion-icon>
          <ion-note color="danger">Gültige URL eingeben! https://www.url.de</ion-note>
        </div>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Firmenlogo</ion-label>
          <ion-input formControlName="fileInput" type="file" accept=".eps" onChange="0"></ion-input>
        </ion-item>

        <div *ngIf="!companyForm.controls.fileInput.valid && companyForm.controls.fileInput.touched"
          class="error-message">
          <ion-icon color="danger" name="information-circle" slot="start"></ion-icon>
          <ion-note color="danger">Falsches Dateiformat! </ion-note>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button [disabled]="!companyForm.valid" type="submit" routerLink="/tabs/profil" routerDirection="back"
          fill="solid">Speichern</ion-button>
        <ion-button  (click)="onCancel()" fill="clear" routerLink="/tabs/profil" routerDirection="back">Abbrechen
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</form>
</div>
</ion-content>