<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="onCancel()" routerLink="/tabs/profil" routerDirection="back">
                <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Firmenadresse</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="card-center">
    <form [formGroup]="companyAdressForm" (ngSubmit)="submitCompanyAdress()">
        <ion-grid>
            <!-- <ion-row>
            <ion-col>
                <ion-item lines="none">
                    <ion-icon name="pin" slot="start"></ion-icon>
                    <ion-label>Firmenadresse</ion-label>
                </ion-item>
            </ion-col>
        </ion-row> -->
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label position="floating">Straße</ion-label>
                        <ion-input formControlName="street"></ion-input>
                    </ion-item>

                    <div *ngIf="!companyAdressForm.controls.street.valid && companyAdressForm.controls.street.touched"
                        class="error-message">
                        <ion-icon color="danger" name="information-circle" slot="start"></ion-icon>
                        <ion-note color="danger">Straße eingeben! </ion-note>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label position="floating">Hausnummer</ion-label>
                        <ion-input formControlName="streetNumber"></ion-input>
                    </ion-item>
                    <div *ngIf="!companyAdressForm.controls.streetNumber.valid && companyAdressForm.controls.streetNumber.touched"
                        class="error-message">
                        <ion-icon color="danger" name="information-circle" slot="start"></ion-icon>
                        <ion-note color="danger">Hausnummer eingeben! </ion-note>
                    </div>
                </ion-col>
                <ion-col>
                    <ion-item>
                        <ion-label position="floating">Zusatz</ion-label>
                        <ion-input formControlName="streetAddition"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label position="floating">PLZ</ion-label>
                        <ion-input formControlName="postalcode"></ion-input>
                    </ion-item>
                    <div *ngIf="!companyAdressForm.controls.postalcode.valid && companyAdressForm.controls.postalcode.touched"
                        class="error-message">
                        <ion-icon color="danger" name="information-circle" slot="start"></ion-icon>
                        <ion-note color="danger">Postleitzahl eingeben! </ion-note>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label position="floating">Stadt</ion-label>
                        <ion-input formControlName="town"></ion-input>
                    </ion-item>
                    <div *ngIf="!companyAdressForm.controls.town.valid && companyAdressForm.controls.town.touched"
                        class="error-message">
                        <ion-icon color="danger" name="information-circle" slot="start"></ion-icon>
                        <ion-note color="danger">Stadt eingeben! </ion-note>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-item>
                        <ion-label position="floating">Land</ion-label>
                        <ion-input formControlName="country"></ion-input>
                    </ion-item>
                    <div *ngIf="!companyAdressForm.controls.country.valid && companyAdressForm.controls.country.touched"
                        class="error-message">
                        <ion-icon color="danger" name="information-circle" slot="start"></ion-icon>
                        <ion-note color="danger">Land eingeben! </ion-note>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-button [disabled]="!companyAdressForm.valid" routerLink="/tabs/profil" routerDirection="back"
                        type="submit" fill="solid">
                        Speichern</ion-button>
                    <ion-button routerLink="/tabs/profil" routerDirection="back" fill="clear" (click)="onCancel()">
                        Abbrechen
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</div>
</ion-content>