<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Veranstaltung</ion-title>
  </ion-toolbar>

</ion-header>
<ion-content>
    <div class="card-center">
  <ion-card>
    <img src="../../assets/testNeu.jpg" />
    <ion-card-header>
      <ion-card-subtitle>ITS.Connect 2020</ion-card-subtitle>
      <ion-card-title>Leistungspaket</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>6 qm Standplatz (inkl. Strom & Stehtischen)</li>
        <li>Doppelseite mit Ihrem Unternehmensprofil im Messekatalog (2 Seiten A5, farbig)</li>
        <li>Aushang Ihrer Stellenanzeigen während der Messe</li>
        <li>Platzierung Ihrer Stellenanzeigen und Firmenvorstellungen vor der Messe auf unsere Homepage</li>
        <li>Buf­fet und Ca­te­ring wäh­rend des Events</li>
        <li>Möglichkeit zur Bewerbung um einen Platz bei den Case-Studies</li>
      </ul>
      <ion-label>ITS.Connect Paket: 1900€ (zzgl. MwSt.)</ion-label>
      <ion-item-divider></ion-item-divider>
      <ion-list text-wrap lines="none">
        <ion-item>
          <ion-icon name="calendar" slot="start"></ion-icon>
          <ion-label>05.05.2020</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="pin" slot="start"></ion-icon>
          <ion-label text-wrap>Veranstaltungszentrum der Ruhr-Universität Bochum</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="body" slot="start"></ion-icon>
          <ion-label text-wrap>Horst Görtz Institut für IT-Sicherheit, Bochum</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="globe" slot="start"></ion-icon>
          <ion-label text-wrap>
            <a target="_blank" href="https://hgi.rub.de/itsc2019/">Offizielle Webseite der ITS.Connect</a>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-button id="teilnehmen" fill="solid" (click)="0">Teilnehmen
      </ion-button>

    </ion-card-content>


  </ion-card>

</div>

</ion-content>