.logo {
    display: flex;
    justify-content: center; 
}
img {
    padding-top: 5px;

    height: 250px;
    width: 250px;

    border: var(--ion-color-darkgrey) 2px solid;
    border-radius: 50%;

}
ion-grid {
    display: grid;
    align-content: center;
}
